@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg{
    background-color: #1A0B2E;
}
nav{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #412567;
}
nav>h2{
    color: #FFFFFF;
}
nav>img{
    display: none;
}
.menu{
    display: flex;
    gap: 35px;
    list-style: none;
    font-size: 1rem;
    font-weight: 300;
    color: #FFFFFF;
}
span{
    background: linear-gradient(to right top,#f7e83f,#FB09B4,#9100F8);
    background-clip: text;
    color: transparent;
}
.btn{
    padding: 10px 12px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    background:linear-gradient(to right top,#f7e83f,#FB09B4,#9100F8);
    vertical-align: middle;
    cursor: pointer;
}

.header-container{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.hero-bg{
    position: relative;
}
.new{
    position: absolute;
    top: 5%;
    left: 60%;
    background-color: #00FF88;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
}
.hero-bg img{
    width: 100%;
}
.hero-img{
    position: absolute;
    top: 25%;
    right: 25%;
    left: 25%;   
}
 .microphone{
    position: absolute;
    top: 25%;
    right: 25%;
    left: 42%;
 }

.hero-content{
    text-align: center;
    position: absolute;
    top: 75%;
    right: 35%;
    left: 35%;  
}
.hero-content h1{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 20px;
}
.hero-content p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 20px;
}
.btn-1{
    margin-left: 10px ;
    padding: 10px 12px;
    border-radius: 30px;
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
    cursor: pointer;
}
.btn-2{
    padding: 10px 12px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    background:linear-gradient(to right top,#f7e83f,#FB09B4,#9100F8);
    vertical-align: middle;
    cursor: pointer;
}

.spotify{
    vertical-align: middle;
    margin-right: 10px;
}
.about{
    max-width: 1600px;
    margin: 0 auto;
}
.about-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
.about-content h1{
    color: #FFFFFF;
    font-size: 3rem;
    margin-bottom: 10px;
}
.about-content p{
    color: #FFFFFF;
    font-weight: 200;
    margin-bottom: 20px;
}
.card-about{
    display: grid;
    grid-template-columns: repeat(4,200px);
    justify-content: center;
    gap:80px;
    margin-top: 70px;
}
.card-info h1{
    color: #00FF88;
}
.card-info h4{
    color: #FFFFFF;
    font-weight: 300;
}
@media screen and (max-width:576px) {
    nav{
        gap: 200px;
    }
    .menu,.btn{
        display: none;
    }
    nav>img{
    display: inline-block;
}
.hero-bg img{
   height: 450px;
}
.hero-circle{
    position: absolute;
    top: -70px;
    left: 25%;
    right: 20%;
    width: 150px;
    height: 150px;
}
.microphone{
    top:-30px;
    width: 50px;
    height: 70px;
}
.new{
    position: absolute;
    top: -60px;
    font-size: 1rem;
}
.hero-content{
    top: 300px;
}
.hero-content h1{
    margin-top: 45px;
    font-size: 1.25rem;
}
.hero-content p{
    width: 400px;
    margin-left: -120px;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.btn-1,.btn-2{
    white-space: nowrap;
}
.about-content{
    max-width: 440px;
    margin: 0 auto;
}
.card-about{
    max-width: 440px;
    margin: 0 auto;
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr);
}
}